.character-wrapper__images {
    border-radius: 10px;
}

.character__image{
    border-radius: 8px;
    width: 128px;
    height: 128px;
    cursor: pointer;
}

.character-wrapper {
    border-radius: 8px;
    color: black;
    width: 128px;
}

.character-wrapper__text {
    word-break: break-all;
}

.character-wrapper__images{
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}

.character-wrapper__images:hover {
-webkit-filter: brightness(0.45);
}

.character-wrapper__name {
    font-weight: 600;
    font-size: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.character-wrapper__indicator {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: red;
}

.character-wrapper__indicator-selected {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: green;
}

.character-wrapper__species-block {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-bottom: 8px;
    flex-wrap: wrap;
}

.character-wrapper__species-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    
}

.character-wrapper-gender {
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding-bottom: 8px;
}

.character-wrapper-gender__text {
    font-weight: 600;
}

.character-wrapper-seen {
    padding-bottom: 8px;
}

.character-wrapper-seen__text {
    font-weight: 600;
}

.character-wrapper-location__text {
    font-weight: 600;
    padding-top: 8px;
}

.character-wrapper-episodes {
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding-top: 8px;
}

.character-wrapper-episodes__text {
    font-weight: 600;
}