
.background-image {
  height: 700px;
  width: 100%;
}

.headers {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 24px;
  font-weight: 600;
}

.characters-button {
  background-color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
  padding-top: 32px;
  padding-bottom: 32px;
}

.characters-button__selected {
  border-bottom: 2px solid orange;
}

.group-buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-left: 32px;
}

.main-container {
  width: 100%;
}
